.card-item{
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .card-logo{
        width: 24px;
        height: 24px;
    }
    .card-number{
        position: absolute;
        bottom: 12px;
        font-size: 10px;
        font-weight: bold;
    }
}